@page
@model WebdevProjectStarterTemplate.Pages.Categories.Index

<div class="row">
    <div class="col">
        <h1>Display Categories</h1>

        <a asp-page="@nameof(Create)" class="btn btn-primary">Create New Category</a>
        <hr>
        <table class="table table-striped">
            <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a asp-page="@nameof(Delete)" asp-route-categoryId="@category.CategoryId" class="btn btn-danger">Delete</a> |
                        <a asp-page="@nameof(Update)" asp-route-categoryId="@category.CategoryId" class="btn btn-info">Update</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>